body {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 255, 226, 1);
}

#start-screen {
  position: relative;
  width: 50vw;
  height: 80vh;
  top: 15vh;
  left: 40vw;
  overflow: hidden;
  display: block;
  background-color: rgb(254, 255, 226, 1);
  font-family: "Amatic SC";
  font-size: 30px;
  font-weight: bolder;
  align-items: center;
}

#start-button {
  position: relative;
  left: 2vw;
  width: 14vw;
  height: 8vh;
  top: 10vh;
  display: block;
  background-color: white;
  font-family: "Amatic SC";
  font-size: 30px;
  align-items: center;
  font-weight: bolder;
}

#gameover-screen {
  position: relative;
  width: 50vw;
  height: 80vh;
  top: 15vh;
  left: 40vw;
  overflow: hidden;
  display: none;
  background-color: rgb(254, 255, 226, 1);
  font-family: "Amatic SC";
  font-size: 30px;
  color: red;
  font-weight: bolder;
  align-items: center;
}

#play-again-button {
  position: relative;
  left: 2vw;
  width: 14vw;
  height: 8vh;
  display: block;
  background-color: white;
  font-family: "Amatic SC";
  font-size: 30px;
  align-items: center;
  font-weight: bolder;
}

#header-title {
  background-color: rgb(254, 255, 226, 1);
  width: 16vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 10vh;
  left: 38vw;
  text-align: center;
  align-items: center;
  position: relative;
  display: none;
  font-family: "Amatic SC";
  font-size: 50px;
  font-weight: bolder;
}

#how-to {
  background-color: rgb(254, 255, 226, 1);
  width: 23vw;
  height: 20vh;
  left: 0vw;
  top: 0vh;
  text-align: left;
  position: relative;
  display: block;
  font-family: "Amatic SC";
  font-size: 30px;
}

#top-container {
  background-color: rgb(254, 255, 226, 1);
  width: 60vw;
  height: 10vh;
  top: 3vh;
  left: 15vw;
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-between;
}

#score {
  background-color: rgb(254, 255, 226, 1);
  width: 15vw;
  height: 10vh;
  left: 4vw;
  align-items: center;
  position: relative;
  display: flex;
  font-family: "Amatic SC";
  font-size: 30px;
}

#score-value {
  background-color: 255, 255, 255;
  left: 1vw;
  align-items: center;
  width: 5vw;
  height: 10vh;
  position: relative;
  display: inline-block;
  font-family: "Amatic SC";
  font-size: 70px;
  font-weight: bold;
}

#lives {
  background-color: rgb(254, 255, 226, 1);
  min-width: 360px;
  width: 25vw;
  height: 10vh;
  top: 6px;
  position: relative;
  display: flex;
  font-family: "Amatic SC";
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

#lives img {
  width: 5vw;
  height: 8vh;
  display: flex;
}

#garden {
  background-color: rgb(86, 244, 7);
  display: none;
  height: 60vh;
  width: 60vw;
  max-width: 60vw;
  left: 20%;
  margin-top: 5vh;
  position: relative;
  overflow: hidden;
  outline: 4px solid black;
}

#zolaUp {
  background-image: url("../images/ZolaUp.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaUp2 {
  background-image: url("../images/ZolaUp2.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaDown {
  background-image: url("../images/ZolaDown.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaDown2 {
  background-image: url("../images/ZolaDown2.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /*   width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaLeft {
  background-image: url("../images/ZolaLeft.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaLeft2 {
  background-image: url("../images/ZolaLeft2.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaRight {
  background-image: url("../images/ZolaRight.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

#zolaRight2 {
  background-image: url("../images/ZolaRight2.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 85px;
  height: 100px; */
  object-fit: contain;
}

.mouse {
  background-image: url("../images/mouse.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 116px;
  height: 68px; */
  object-fit: contain;
}

.rat {
  background-image: url("../images/rat.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 116px;
    height: 68px; */
  object-fit: contain;
}

.hairball {
  background-image: url("../images/hairball.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  /* width: 116px;
          height: 68px; */
  object-fit: contain;
}
